/SeekFree_MM32F327X_G8P_Opensource_Library/*
!/SeekFree_MM32F327X_G8P_Opensource_Library/project
/SeekFree_MM32F327X_G8P_Opensource_Library/project/*
!/SeekFree_MM32F327X_G8P_Opensource_Library/project/code
